
body {
    min-height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

header {
    background: #e71607;
    color: white;
    padding: 10px;
    text-align: center;
    height: 50px;
}

nav {
    padding: -50px;
    margin-top: -15px;
    color: #f4f4f4;
    text-align: center;
}

nav a {
    color: #f4f4f4;
    font-style: bold;
}

nav ul {
    list-style-type: none;
    background-color: #e71607;
    padding: 2px;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}
.dropdown { display: none;
}
ul li:hover .dropdown {
    display: block;
    position: absolute;
    margin-top: 13px;
    margin-left: -8px;
    padding: auto;
    text-align: left;

}

.dropdown ul {
    margin:0;
    padding: 0;
}

.dropdown ul li {
    display: block;
}

section {
    text-align: center;
    padding: 50px;
}

.learn {
    color: #9a0c0c;

}
.Join{
    color:#9a0c0c
}
.login{
    color: aqua;
}

marquee {
    color: #4404f4;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: yellowgreen

}

.marq {
    margin: auto;
    padding: 0;
}
footer {
    background: #9a0c0c;
    color: white;
    text-align: center;
    padding: 23px;
    
    position: absolute;
    width: 100%;
    bottom:-155px ;
}
img {
    width: 900px;
}